beautifulsoup4==4.13.3
blinker==1.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cx_Freeze==7.2.10
cx_Logging==3.2.0
deep-translator==1.11.4
Flask==3.0.3
google-transliteration-api==1.0.3
gTTS==2.5.4
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
lief==0.16.3
MarkupSafe==2.1.5
packaging==24.2
playsound==1.2.2
PyAudio==0.2.14
pydub==0.25.1
requests==2.32.3
soupsieve==2.6
SpeechRecognition==3.10.4
tomli==2.2.1
typing_extensions==4.13.1
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
